body {
  background-color: #fdfaee;
  margin: auto;
  padding: 20px;
  width: 50%;
  text-align: center;
  font-family: "Fredoka One", cursive;
}

.paw {
  height: 150px;
  filter: invert(82%) sepia(14%) saturate(328%) hue-rotate(253deg)
    brightness(95%) contrast(84%);
}

.paw:hover {
  filter: invert(82%) sepia(14%) saturate(328%) hue-rotate(253deg)
    brightness(95%) contrast(84%) drop-shadow(3px 5px 2px rgba(150, 111, 155));
  cursor: pointer;
}

h1 {
  background-color: #d2bad1;
  color: #fdfaee;
  font-size: 50pt;
  padding: 40px;
  border-radius: 20px;
}

h2 {
  color: #d2bad1;
  font-size: 25pt;
}

h3 {
  color: #d2bad1;
  font-size: 18pt;
}
