* {
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  --floralwhite: #fdfaee;
  --spanishpink: #fbc2c3;
  --frenchlilac: #966f9b;
  --cybergrape: #6d4776;
  --mountbattenpink: #9c849b;
}

html {
  font-family: "Fredoka One", cursive;
  background-color: #fdfaee;
  text-align: center;
}

#container-header {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  will-change: transform;
  background-color: var(--spanishpink);
  z-index: 1;
  /* border: 1px solid black; */
}

.navigation-bar {
  list-style: none;
  display: flex;
  padding-left: 10px;
  color: var(--frenchlilac);
}

.navigation-bar a {
  display: table;
  padding: 0px 20px;
}

.navigation-bar li {
  background-color: var(--frenchlilac);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 40px;
  align-items: center;
  color: var(--floralwhite);
}

a:link {
  text-decoration: none;
}

li:hover {
  color: #fbc2c3;
}

.body {
  margin: 0 auto;
  padding: 30px;
}

body {
  margin: 0 auto;
}

#logo {
  max-height: 70px;
  padding-left: 10px;
}

.paw {
  height: 200px;
  filter: invert(55%) sepia(14%) saturate(984%) hue-rotate(246deg)
    brightness(84%) contrast(87%);
}

.paw:hover {
  filter: invert(82%) sepia(14%) saturate(328%) hue-rotate(253deg)
    brightness(95%) contrast(84%) drop-shadow(3px 5px 2px rgba(150, 111, 155));
  cursor: pointer;
}

h1 {
  background-color: var(--frenchlilac);
  color: var(--floralwhite);
  font-size: 50pt;
  padding: 50px;
  border-radius: 20px;
}

h2 {
  color: var(--frenchlilac);
  font-size: 25pt;
}

h3 {
  color: var(--frenchlilac);
  font-size: 18pt;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second {
  color: #fdfaee;
  background-color: var(--frenchlilac);
  border-radius: 20px;
  padding: 10px;
  font-size: 24pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.container {
  padding: 15%;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

#paw-link{
  width: 215px;
}
