:root {
    --floralwhite: #fdfaee;
    --spanishpink: #fbc2c3;
    --frenchlilac: #966f9b;
    --cybergrape: #6d4776;
    --mountbattenpink: #9c849b;
  }
  

body {
    font-family: "Fredoka One", cursive;
    margin: 0;
    padding: 0;
    height: 100vh;
    
    background-color: #FDFAEE;
    accent-color: var(--checked-color);
}

#outer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#container-header {
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    will-change: transform;
    background-color: var(--spanishpink);
    /* border: 1px solid black; */
}

.navigation-bar {
    list-style: none;
    display: flex;
    padding-left: 10px;
    color: var(--frenchlilac);
}

.navigation-bar a {
    display: table;
    padding: 0px 20px;
}

.navigation-bar li {
    background-color: var(--frenchlilac);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 40px;
    align-items: center;
    color: var(--floralwhite);
}

a:link {
    text-decoration: none;
}

li:hover {
    color: #fbc2c3;
}

#logo {
    max-height: 70px;
    padding-left: 10px;
  }


#container {
    background-image: url('./yarn.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: local;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#container::-webkit-scrollbar {
    display: none;
}

.question-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: center;
    margin-top: calc(50vh - 150px);
    margin-bottom: calc(50vh - 150px);
    background-color: #966F9B;
    box-shadow: 0 0 2px black;
    padding: 10vh 20vh;
    margin-left: 10vh;
    margin-right: 10vh;
    border-radius: 15px;
}

#previous {
    top: 15vh;
}

#next {
    bottom: 15vh;
    transform: rotate(180deg);
}

.button {
    position: absolute;
    max-width: 50px;
    transition: 0.3s;
    filter: invert(55%) sepia(14%) saturate(984%) hue-rotate(246deg) brightness(84%) contrast(87%);
}

.button:hover {
    filter: invert(82%) sepia(14%) saturate(328%) hue-rotate(253deg)
    brightness(95%) contrast(84%) drop-shadow(3px 5px 2px rgba(150, 111, 155));
    cursor: pointer;
}

.question-form {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question-option {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.question-text p {
    font-size: 60px;
}

label {
    font-size: 25px;
    margin-bottom: 15px;
}
#quiz-submit{
    position: absolute;
    bottom: 15vh;
    right: 20vh;
}

.fa-circle-arrow-right {
    opacity: 0;
    pointer-events: none;
    transform: scale(10);
    transition: ease-out 0.5s;
    filter: invert(55%) sepia(14%) saturate(984%) hue-rotate(246deg) brightness(84%) contrast(87%);
}

.fa-circle-arrow-right:hover {
    transform: scale(11);
    transition: ease-out 0.5s;
    filter: invert(55%) sepia(14%) saturate(984%) hue-rotate(246deg) brightness(84%) contrast(87%);
}

input[type="radio"] {
    transform: scale(2);
    filter: invert(82%) sepia(11%) saturate(813%) hue-rotate(250deg) brightness(98%) contrast(102%);
}
