* {
    box-sizing: border-box;
    overflow: hidden;
}

:root {
--floralwhite: #fdfaee;
--spanishpink: #fbc2c3;
--frenchlilac: #966f9b;
--cybergrape: #6d4776;
--mountbattenpink: #9c849b;
}

html {
font-family: "Fredoka One", cursive;
background-color: #fdfaee;
/* text-align: center; */
}

#container-header {
height: 70px;
width: 100vw;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
will-change: transform;
background-color: var(--spanishpink);
/* border: 1px solid black; */
}

.navigation-bar {
list-style: none;
display: flex;
padding-left: 10px;
color: var(--frenchlilac);
}

.navigation-bar a {
display: table;
padding: 0px 20px;
}

.navigation-bar li {
background-color: var(--frenchlilac);
border-radius: 5px;
display: flex;
justify-content: center;
width: 150px;
height: 40px;
align-items: center;
color: var(--floralwhite);
}

.navigation-bar a:link {
text-decoration: none;
}

.navigation-bar li:hover {
color: #fbc2c3;
}

#logo {
max-height: 70px;
padding-left: 10px;
}

body {
margin: 0 auto;
}

nav{
    margin-bottom: 70px
}

#cat-container {
    /* margin: 2em 2em 2em 2em ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100vw;
    /* background-color: var(--frenchlilac); */
}

#single-cat{
    /* margin-top: 150px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
    height: 450px;
    width: 80vw;
}

#cat-info{
    border-radius: 10px;
    background-color:#fbc2c3;
    height: 420px;
    width: 50vw;
    margin-right: 2vw;
}

#cat {
    border-radius: 10px;
    height: 420px;
    width: 20vw;
    margin-left: 2vw;
}

.cat-data {
    margin: 0 auto;
    height: 420px;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* justify-content: space-around; */
}

#cat-name{
    font-size: 40px;
}

.cat-stat{
    font-size: 20px;
}

#adopt {
    font-family: "Fredoka One", cursive;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    color: #fdfaee;
    background-color: var(--frenchlilac);
    border: none;
    font-size: 16px;
}

#adopt:hover{
    /* color:#fbc2c3; */
    cursor: pointer;
    transform: scale(1.1);
}
